ul {
    list-style: initial;
}

#progressBar {
    width: 600px !important;
}

#inputFrm {
    width: 700px;
}

#exampleFormControlTextarea1 {
    height: 500px;
    width: 100%;
    resize: none;
}

#exampleFormControlTextarea1::placeholder {
    font-size: 14px;
}

#question {
    cursor: pointer;
}


