<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.lawservice101.chat.model.dao.ChatRoomDao">
    <resultMap id="chatRoomVoResultSet" type="ChatRoomVo">
        <result property="chatRoomNum" column="chat_room_num"/>
        <result property="chatRoomTitle" column="chat_room_title"/>
        <result property="lockState" column="lock_stat"/>
        <result property="chatRoomPwd" column="chat_room_pwd"/>
        <result property="userCount" column="user_count"/>
        <result property="createdDate" column="created_date"/>
        <association property="chatUserVo"  javaType="ChatUserVo" >
            <result property="chatRoomNum"  column="chat_room_num" />
            <association property="lawyerVo"  javaType="LawyerVo" >
                <result property="lawyerNum" column="lawyer_num"/>
                <result property="lawyerId" column="lawyer_id"/>
                <result property="lawyerPwd" column="lawyer_pwd"/>
                <result property="lawyerName" column="lawyer_name"/>
                <result property="lawyerBirthyy" column="lawyer_birthyy"/>
                <result property="lawyerGender" column="lawyer_gender"/>
                <result property="lawyerPhone" column="lawyer_phone"/>
                <result property="lawyerImg" column="lawyer_img"/>
                <result property="lawyerEmail" column="lawyer_email"/>
                <result property="lawyerLicenseNum" column="lawyer_license_num"/>
                <result property="lawyerIntroMsg" column="lawyer_intro_msg"/>
                <association property="companyVo" javaType="CompanyVo" >
                    <result property="companyNum" column="company_num"/>
                    <result property="companyName" column="company_name"/>
                    <result property="companyAddress" column="company_address"/>
                    <result property="companyPhone" column="company_phone"/>
                </association>
            </association>
            <association property="clientVo" javaType="ClientVo" >
                <result property="clientNum" column="client_num"/>
                <result property="clientId" column="client_id"/>
                <result property="clientPwd" column="client_pwd"/>
                <result property="clientName" column="client_name"/>
                <result property="clientBirthyy" column="client_birthyy"/>
                <result property="clientGender" column="client_gender"/>
                <result property="clientEmail" column="client_email"/>
                <result property="clientPhone" column="client_phone"/>
            </association>
        </association>
    </resultMap>

    <select id="selectAll" resultType="ChatRoomVo" resultMap="chatRoomVoResultSet">
        SELECT * FROM chat_room_tb r INNER JOIN chat_user_tb u ON u.chat_room_num = r.chat_room_num
                                     LEFT JOIN lawyer_tb l ON u.lawyer_num = l.lawyer_num
                                     INNER JOIN company_tb c ON c.company_num = l.company_num
                                     LEFT JOIN client_tb c ON u.client_num = c.client_num
    </select>

    <insert id="insertChatRoom" parameterType="com.kh.lawservice101.chat.model.vo.ChatRoomVo">
        <selectKey keyProperty="chatRoomNum" resultType="Long" order="AFTER">
            SELECT chatroom_seq.CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO chat_room_tb(chat_room_num, chat_room_title, lock_stat, chat_room_pwd, user_count, created_date)
        VALUES (chatroom_seq.NEXTVAL, #{chatRoomTitle}, #{lockState}, #{chatRoomPwd, jdbcType=INTEGER}, DEFAULT, DEFAULT)
    </insert>

    <select id="selectChatRoom" resultType="ChatRoomVo" resultMap="chatRoomVoResultSet">
        SELECT * FROM chat_room_tb r INNER JOIN chat_user_tb u ON u.chat_room_num = r.chat_room_num
                                     LEFT JOIN lawyer_tb l ON u.lawyer_num = l.lawyer_num
                                     INNER JOIN company_tb c ON c.company_num = l.company_num
                                     LEFT JOIN client_tb c ON u.client_num = c.client_num
                                    WHERE r.chat_room_num = #{chatRoomNum}
    </select>

    <update id="plusUserCount">
        UPDATE chat_room_tb SET user_count = user_count + 1 WHERE chat_room_num = #{chatRoomNum}
    </update>

    <update id="minusUserCount">
        UPDATE chat_room_tb SET user_count = user_count - 1 WHERE chat_room_num = #{chatRoomNum}
    </update>

    <delete id="deleteChatRoom">
        DELETE FROM chat_room_tb WHERE chat_room_num = #{chatRoomNum}
    </delete>
</mapper>
