<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.lawservice101.client.model.dao.ClientDao">
    <resultMap id="clientResultSet" type="ClientVo">
        <result property="clientNum" column="CLIENT_NUM"/>
        <result property="clientId" column="CLIENT_ID"/>
        <result property="clientPwd" column="CLIENT_PWD"/>
        <result property="clientName" column="CLIENT_NAME"/>
        <result property="clientBirthyy" column="CLIENT_BIRTHYY"/>
        <result property="clientGender" column="CLIENT_GENDER"/>
        <result property="clientEmail" column="CLIENT_EMAIL"/>
        <result property="clientPhone" column="CLIENT_PHONE"/>
    </resultMap>

    <select id="clientLogin" resultType="ClientVo" >
        SELECT * FROM CLIENT_TB
        WHERE   CLIENT_ID = #{clientId}
        AND     CLIENT_PWD = #{clientPwd}
    </select>

    <select id="selectClient" resultType="ClientVo" resultMap="clientResultSet">
        SELECT * FROM CLIENT_TB WHERE CLIENT_NUM = #{clientNum}
    </select>

    <select id="selectAllClients" resultType="ClientVo" resultMap="clientResultSet">
        SELECT * FROM CLIENT_TB
    </select>

    <insert id="insertClient" parameterType="ClientVo">
        INSERT INTO CLIENT_TB (
            CLIENT_NUM
            , CLIENT_ID
            , CLIENT_PWD
            , CLIENT_NAME
            , CLIENT_BIRTHYY
            , CLIENT_GENDER
            , CLIENT_EMAIL
            , CLIENT_PHONE
        ) VALUES(
            CLIENT_SEQ.NEXTVAL
            , #{clientId}
            ,#{clientPwd}
            ,#{clientName}
            ,#{clientBirthyy}
            ,#{clientGender}
            ,#{clientEmail}
            ,#{clientPhone}
        )

    </insert>
    <select id="selectClientByEmail" resultType="ClientVo" resultMap="clientResultSet">
        SELECT * FROM CLIENT_TB WHERE CLIENT_EMAIL = #{email}
    </select>
    <select id="selectClientByIdAndEmail" resultType="ClientVo" resultMap="clientResultSet">
        SELECT * FROM CLIENT_TB WHERE CLIENT_ID = #{id} AND CLIENT_EMAIL = #{email}
    </select>
    <update id="updatePassword">
        UPDATE CLIENT_TB SET CLIENT_PWD = #{tempPwd} WHERE CLIENT_NUM = #{clientNum}
    </update>
</mapper>