<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.lawservice101.lawyer.model.dao.CompanyDao">

    <insert id="insertCompany" parameterType="CompanyVo">
        INSERT INTO COMPANY_TB ( COMPANY_NUM, COMPANY_NAME, COMPANY_ADDRESS, COMPANY_PHONE)
        VALUES(COMPANY_SEQ.NEXTVAL, #{companyName}, #{companyAddress},#{companyPhone})

    </insert>
</mapper>