<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.lawservice101.knowledgein.model.dao.InBoardDao">

    <insert id="inBoardUpload" parameterType="InBoardVo">

        INSERT INTO IN_BOARD_TB (
            IN_BOARD_NUM
            , IN_BOARD_TITLE
            , IN_BOARD_CONTENT
            , IN_BOARD_COUNT
            , WRITE_DATE
            , CATEGORY_NUM
            , CLIENT_NUM
        ) VALUES(
            IN_BOARD_SEQ.NEXTVAL
            , #{inBoardTitle}
            , #{inBoardContent}
            , #{inBoardCount}
            , sysdate
            , #{categoryVo.categoryNum}
            , #{clientVo.clientNum}
        )

    </insert>

</mapper>
