<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.lawservice101.lawyer.model.dao.LawyerDao">
    <resultMap id="LawyerResultSet" type="LawyerVo">
        <result property="lawyerNum" column="lawyer_num"/>
        <result property="lawyerId" column="lawyer_id"/>
        <result property="lawyerPwd" column="lawyer_pwd"/>
        <result property="lawyerName" column="lawyer_name"/>
        <result property="lawyerBirthyy" column="lawyer_birthyy"/>
        <result property="lawyerGender" column="lawyer_gender"/>
        <result property="lawyerPhone" column="lawyer_phone"/>
        <result property="lawyerImg" column="lawyer_img"/>
        <result property="lawyerEmail" column="lawyer_email"/>
        <result property="lawyerLicenseNum" column="lawyer_license_num"/>
        <result property="lawyerIntroMsg" column="lawyer_intro_msg"/>
        <association property="companyVo" javaType="CompanyVo">
            <result property="companyNum" column="company_num"/>
            <result property="companyName" column="company_name"/>
            <result property="companyAddress" column="company_address"/>
            <result property="companyPhone" column="company_phone"/>
        </association>
    </resultMap>

    <select id="selectLawyer" resultType="LawyerVo" resultMap="LawyerResultSet">
        SELECT *
        FROM LAWYER_TB L
        JOIN COMPANY_TB C ON L.COMPANY_NUM = C.COMPANY_NUM
        WHERE LAWYER_NUM = #{lawyerNum}
    </select>

    <select id="selectLawyerVo" resultType="LawyerVo" resultMap="LawyerResultSet">
        SELECT LAWYER_NUM
        , LAWYER_ID
        , LAWYER_PWD
        , LAWYER_NAME
        , LAWYER_BIRTHYY
        , LAWYER_GENDER
        , LAWYER_PHONE
        , LAWYER_EMAIL
        , LAWYER_LICENSE_NUM
        , LAWYER_INTRO_MSG
        FROM LAWYER_TB L
        LEFT JOIN COMPANY_TB C ON L.COMPANY_NUM = C.COMPANY_NUM
        WHERE 1=1
        <if test="lawyerNum != null">
            AND LAWYER_NUM = #{lawyerNum}
        </if>
        <if test="lawyerId != null">
            AND LAWYER_ID = #{lawyerId}
        </if>
    </select>

    <select id="selectAllLawyers" resultType="LawyerVo" resultMap="LawyerResultSet">
        select * from lawyer_TB l join company_TB c on l.company_num = c.company_num
    </select>

    <insert id="insertLawyer" parameterType="LawyerVo">

        INSERT INTO LAWYER_TB (
        LAWYER_NUM
        , LAWYER_ID
        , LAWYER_PWD
        , LAWYER_NAME
        , LAWYER_BIRTHYY
        , LAWYER_GENDER
        , LAWYER_PHONE
        , LAWYER_EMAIL
        , LAWYER_LICENSE_NUM
        , LAWYER_INTRO_MSG
        ) VALUES(
        LAWYER_SEQ.NEXTVAL
        , #{lawyerId}
        , #{lawyerPwd}
        , #{lawyerName}
        , #{lawyerBirthyy}
        , #{lawyerGender}
        , #{lawyerPhone}
        , #{lawyerEmail}
        , #{lawyerLicenseNum}
        , #{lawyerIntroMsg}
        )
    </insert>

    <select id="lawyerLogin" resultType="LawyerVo">
        SELECT * FROM LAWYER_TB
        WHERE LAWYER_ID = #{lawyerId}
        AND LAWYER_PWD = #{lawyerPwd}
    </select>

    <update id="updateLawyer" parameterType="LawyerVo">
        UPDATE LAWYER_TB
        SET COMPANY_NUM = #{companyVo.companyNum}
        WHERE LAWYER_ID = #{lawyerId}
    </update>

    <select id="selectLawyerByEmail" resultType="LawyerVo" resultMap="LawyerResultSet">
        select * from lawyer_TB l join company_TB c on l.company_num = c.company_num where lawyer_email=#{email}
    </select>

    <select id="selectLawyerByIdAndEmail" resultType="LawyerVo" resultMap="LawyerResultSet">
        select * from lawyer_TB l join company_TB c on l.company_num = c.company_num where lawyer_id=#{id} and
        lawyer_email=#{email}
    </select>

    <update id="updatePassword">
        update lawyer_TB set lawyer_pwd = #{tempPwd} where lawyer_num = #{lawyerNum}
    </update>
</mapper>