<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.lawservice101.refund.model.dao.RefundDao">
    <insert id="insertRefund">
        insert into refund_tb values (refund_seq.nextval
                                        , 'Y'
                                        , default
                                        , #{paymentNum}
                                        , #{impUid})
    </insert>
</mapper>