<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>결제 정보 확인 | 법률서비스 101</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" defer></script>

        <link href="../resource/css//headers.css" rel="stylesheet">
        <link href="../resource/css/sidebars.css" rel="stylesheet">
        <link href="../resource/css/footer.css" rel="stylesheet">
        <link href="../resource/css/common.css" rel="stylesheet">

        <link href="../resource/css/checkInfo.css" rel="stylesheet">
        <script src="../resource/js/checkInfo.js"> </script>
        
    </head>
    <body>
        <!-- header -->
        <header class="p-3 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
                </div>
            </div>
        </header>

        <!-- sidebar -->
        <nav class="sidebar-container">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="height: 100%;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">Sidebar</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                    Home
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                    Dashboard
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                    Orders
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                    Products
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Customers
                    </a>
                </li>
                </ul>
                <hr>
                <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
                </div>
            </div>
        </nav>

        <!-- main -->
        <div>
            <form action="#" method="#" name="#">
            <div class="container" id="main">
                <div class="position-relative mt-5 m-5 mx-auto " id="progressBar">
                    <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
                    <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button>
                    <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">3</button>
                </div>
                    <h3 class="text-center">결제 정보 확인</h3>
                    <h5 class="text-center mb-5">정보를 확인하고 결제를 버튼을 눌러주세요.</h5>
                    <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
                        <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyHeading1">상담 정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyHeading2">결제 수단</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyHeading3">결제 정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyHeading4">약관 동의</a>
                        </li>
                        </ul>
                    </nav>
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
                        <div class="m-4">
                            <h4 id="scrollspyHeading1" class="fs-5"><b>상담 정보</b></h4>
                            <table id="table1" class="w-50">
                                <tr>
                                    <th style="width: 30%" >변호사</th>
                                    <td>우영우</td>
                                </tr>
                                <tr>
                                    <th style="width: 30%">상담 날짜</th>
                                    <td>2023.03.05</td>
                                </tr>
                                <tr>
                                    <th style="width: 30%">상담 종류</th>
                                    <td>산재</td>
                                </tr>               
                            </table>
                        </div>
                        <hr>
                        <div class="m-4">
                            <h4 id="scrollspyHeading2" class="fs-5"><b>결제 수단</b></h4>
                            <form action="#" method="#" name="#">
                                <ul>
                                    <li>
                                        <label class="form-label">
                                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" checked> &nbsp; 신용카드/체크카드
                                        </label>
                                    </li>
                                    <li>
                                        <label class="form-label">
                                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" > &nbsp; 카카오 페이 결제
                                        </label>
                                    </li>
                                    <li>
                                        <label class="form-label">
                                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" > &nbsp; 네이버 페이 결제
                                        </label>
                                    </li>
                                </ul>
                            </form>
                        </div>                
                        <hr>
                        <div class="m-4">
                            <h4 id="scrollspyHeading3" class="fs-5 mb-3"><b>결제 정보</b></h4>
                            <h5 class="mb-3">상담료 <b>25,000원</b></h5>
                            <p class="small mb-2 text-secondary">
                            예약취소는 15분 전화상담 1시간 전까지만 마이페이지에서 취소 가능하며, 이후에는 취소 및 환불이 불가능합니다.<br/>
                            예약날짜 및 시간변경은 15분 전화상담 1시간 전까지만 가능하며, 로톡 고객센터로 문의주시면 됩니다.<br/>
                            변호사 사정으로 상담을 하지 못한 경우에는 100% 환불해드립니다.<br/>
                            의뢰인 사정으로 상담을 하지 못한 경우 또는 상담이 이루어진 경우에는 환불해드리지 않습니다.<br/>    
                            </p>
                        </div>
                        <hr>
                        <div class="m-4">
                            <h4 id="scrollspyHeading4" class="fs-5"><b>약관 동의</b></h4>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onClick="btnActive(this.form)">
                                <label class="form-check-label" for="flexCheckDefault">
                                    <p class="mb-2">아래 약관에 동의 합니다.</p> 
                                </label>
                            <p class="small text-secondary">
                                '법률 서비스101' 은 예약 및 결제 정보의 중개서비스 또는 통신판매중개 시스템을 제공할 뿐 통신판매의 당사자가 아니며, 변호사가 제공하는 법률상담의 내용과 질에 대해서 법적 책임이 없음에 동의합니다.<br/>
                                    변호사와의 법률상담에 관하여 다음에 동의합니다.<br/>
                                    상담을 위해 작성한 이름과 상담요청내용, 전화번호가 변호사에게 제공됨에 동의합니다.<br/>
                                    상담료는 변호사가 정한 금액 (원)에 따릅니다.<br/>
                                    의뢰인은 변호사에게 다음의 사항을 제외하고 법률적인 문제에 관해 상담을 의뢰할 수 있습니다.<br/>
                                        &nbsp;&nbsp;  1. 선량한 풍속 기타 미풍양속을 해하는 사항<br/>
                                        &nbsp;&nbsp;  2. 대한민국의 법질서에 반하는 행위를 강요하는 사항<br/>
                                        &nbsp;&nbsp;  3. 변호사의 품위를 저해할 우려가 있는 사항<br/>
                                        &nbsp;&nbsp;  4. 기본적 인권 옹호에 관련된 변호사의 의무에 위반될 우려가 있는 사항<br/>
                                    의뢰인과 변호사는 서로의 명예를 해치거나 과장광고와 같은 서로의 동의를 얻지 아니한 약속을 다른사람에게 할 수 없으며 이로 인한 책임은 고의 또는 과실 있는 당사자가 부담합니다.<br/>
                                    의뢰인과 변호사는 상담과 관련된 기타 사항에 관하여는 일반 민법의 규정에 따라 권리와 의무를 부담합니다.<br/>
                                    의뢰인과 변호사는 법률상담에 관하여 위 사항에 서로 동의합니다.<br/>
                            </p>
                        </div>
                    </div>
            </div>
            <div class="d-flex justify-content-between">
                <input type="button" class="btn btn-custom mt-4" name="checkButton" value="뒤로" onclick="history.back(-1)"></input>
                <input type="submit" class="btn btn-custom mt-4" name="checkButton" value="결제하기" disabled></input>
            </div>            
            </form> 
        </div>
        <!-- footer -->
        <div class="footer-container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
                <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
            </footer>
        </div>
    </body>
</html>