<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" defer></script>

    <link rel="stylesheet" href="../resource/css/headers.css" />
    <link rel="stylesheet" href="../resource/css/sidebars.css" />
    <link rel="stylesheet" href="../resource/css/footer.css" />
    <link rel="stylesheet" href="../resource/css/common.css" />

    <link rel="stylesheet" href="../resource/css/reviewList.css" />

    <title>김준성 변호사 - 지식IN 답변 | 법률서비스 101</title>
</head>
<body>
    <div class="container d-flex">
        <!-- sidebar -->
        <div class="sidebar position-fixed w-100 h-100 top-0 start-0" style="z-index: 200;">
            <div class="w-100 h-100 top-0 end-0 position-absolute bg-black opacity-25" style="z-index: 201;"></div>
            <nav class="sidebar-container position-absolute top-0 start-0 vh-100 bg-white" style="width: 320px; z-index: 203;">
                <div class="d-flex flex-column flex-shrink-0 p-3" style="height: 100%;">
                    <div class="text-end">
                        <button class="btn bg-transparent text-secondary border-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                            </svg>
                        </button>
                    </div>
                    <a href="main.html" class="my-3 mb-md-0 mx-auto " style="width: 180px; height: 44px;">
                        <img src="../resource/img/logo.png" alt="로고" width="100%" height="100%">
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column ">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-secondary" aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                            변호사 찾기
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-secondary">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                            법률 지식IN
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <a href="" class="d-flex justify-content-between fw-bold">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                            <span class="small">
                                지식IN 글쓰기
                            </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <a href="#" class="nav-link text-secondary" style="font-size: 14px !important;">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                            공지사항
                        </a>
                        <a href="#" class="nav-link text-secondary" style="font-size: 14px !important;">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                            이용약관
                        </a>
                        <a href="#" class="nav-link text-secondary" style="font-size: 14px !important;">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                            개인정보처리방침
                        </a>
                        <a href="#" class="nav-link text-secondary" style="font-size: 14px !important;">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                            회사소개
                        </a>
                        <a href="#" class="nav-link text-secondary" style="font-size: 14px !important;">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                            로톡이야기
                        </a>
                    </ul>
                </div>
                <div class="dropdown bg-custom position-absolute bottom-0 start-0 w-100 p-3 text-end">
                    <!-- login -->
                    <!-- <div>
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow">
                            <li><a class="dropdown-item" href="myPage.html">마이페이지</a></li>
                            <li><a class="dropdown-item" href="chatList.html">상담 목록</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="login.html">로그아웃</a></li>
                        </ul>
                    </div> -->

                    <!-- logout -->
                    <div class="d-inline-block mt-2">
                        <a href="login.html" class="me-3 text-white fw-bold"><small>로그인</small></a>
                        <a href="sign-up-landing.html" class="me-3 text-white fw-bold"><small>회원가입</small></a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- left -->
        <div class="w-75 px-5">
            <!-- header -->
            <header class="d-flex justify-content-between align-items-center py-4 border-bottom">
                <ul class="mb-0 ps-0 d-flex align-items-center">
                <li class="me-4">
                    <button class="btn p-0 me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    </button>
                </li>
                <li class="me-3"><button class="btn py-3 px-0 text-secondary" onclick="location.href='productDetailPage.html'">변호사홈</button></li>
                <li class="me-3 active"><button class="btn py-3 px-0 text-secondary" onclick="location.href='commentList.html'">지식IN 답변</button></li>
                <li class="me-3"><button class="btn py-3 px-0 text-secondary" onclick="location.href='reviewList.html'">의뢰인후기</button></li>
                </ul>
                <a href="booking.html" class="text-secondary fw-bold">
                상담예약
                </a>
            </header>
            <h3 class="fw-bold my-1 py-5 text-center border-top border-bottom"><span class="text-custom">지식IN 답변</span> <span>10446</span>건 중 <br>나와 비슷한 사례를 찾아보세요.</h3>
            <div class="border-top py-5">
                <h5 class="pb-3 border-bottom text-secondary fw-bold">답변 <span>10446</span></h5>
                <ul class="ps-0">
                    <li class="py-5 border-bottom">
                        <a href="in_detail.html">
                            <p class="text-secondar small">고소/소송절차</p>
                            <h5 class="fw-bold">불송치 결정 이유서를 피고소인도 받을 수 있나요?</h5>
                            <p class="small text-secondary mb-0">2023.01.01</p>
                        </a>
                    </li>
                    <li class="py-5 border-bottom">
                        <a href="in_detail.html">
                            <p class="text-secondar small">임대차</p>
                            <h5 class="fw-bold">집 계약을 마쳤는데 임대인이 전 임차인의 전세 보증금을 반환하지 않았다고 합니다.</h5>
                            <p class="small text-secondary mb-0">2023.01.01</p>
                        </a>
                    </li>
                    <li class="py-5 border-bottom">
                        <a href="in_detail.html">
                            <p class="text-secondar small">사기/공갈손해배상</p>
                            <h5 class="fw-bold">사기 피해자이며 배상명령신청에 대해 질문드립니다.</h5>
                            <p class="small text-secondary mb-0">2023.01.01</p>
                        </a>
                    </li>
                    <li class="py-5 border-bottom">
                        <a href="in_detail.html">
                            <p class="text-secondar small">계약일반/매매</p>
                            <h5 class="fw-bold">부부 중 한 사람의 동의 없이 부동산을 판매한 경우 매매계약을 무효로 할 수 있나요?</h5>
                            <p class="small text-secondary mb-0">2023.01.01</p>
                        </a>
                    </li>
                    <li class="py-5 border-bottom">
                        <a href="in_detail.html">
                            <p class="text-secondar small">디지털 성범죄</p>
                            <h5 class="fw-bold">불법촬영 피해자가 여러 명인데, 합의한 사람 수에 따라 처벌이 달라지나요?</h5>
                            <p class="small text-secondary mb-0">2023.01.01</p>
                        </a>
                    </li>
                </ul>
                <button class="btn btn-outline-custom w-100">더 보기</button>
            </div>
        </div>

        <!-- right -->
        <div class="pt-4" style="width: 498px;">
        <div class="text-white text-center py-5" style="background-color: #443736;">
            <h3 class="fw-bold mb-0"><span>기성용</span> 변호사</h3>
            <p>법무법인 공명</p>
        </div>
        <div class="position-relative" style="height: 640px;">
            <img src="../resource//img/인물사진(상반신)1.jpg" alt="" width="100%" height="100%"/>
            <a href="booking.html" class="d-inline-block position-absolute bottom-0 end-0 p-3 px-5 bg-custom text-white fw-bold m-4">
            상담예약하기
            </a>
        </div>
        </div>
    </div>
    </div>
</body>
</html>