<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" defer></script>

    <link href="../resource/css/headers.css" rel="stylesheet" />
    <link href="../resource/css/footer.css" rel="stylesheet" />
    <link href="../resource/css/sidebars.css" rel="stylesheet" />
    <link href="../resource/css/common.css" rel="stylesheet" />

    <title>이순신 의뢰인의 상담 내용 | 법률서비스 101</title>
</head>
<body>
    <!-- header -->
    <header class="p-3 text-bg-dark position-sticky top-0">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
            </div>
        </div>
    </header>

    <!-- sidebar -->
    <nav class="sidebar-container">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="height: 100%;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Home
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                Orders
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                Products
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                Customers
                </a>
            </li>
            </ul>
            <hr>
            <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
            </div>
        </div>
    </nav>
    
    <div class="container" style="width: 800px;">
        <div class="pt-5 pb-3">
            <div class="p-5 border rounded-2">
                <h2 class="fw-bold mb-4 text-center">이순신 의뢰인의 <span class="text-custom">상담 내용</span></h2>
                <p class="small text-secondary text-end"><span class="me-2">예약일</span><span class="me-1">2023.01.11</span><span>오후 03:00</span></p>
                <p>
                    성폭력 건으로 경찰 조사에서 불송치받았습니다 
                    킥스에는 검찰로 송부되어 검사 검토 중이라고 나옵니다 
                    어제 경찰 쪽으로 불송치 결정 이유서 발급을 정보 공개 요청했더니 "지금 자료가 다 검찰에 있어서 갖고 있는 게 없다", "그건 피해자 쪽에는 입력하는 것이 있는데 피의자 쪽에는 없다"라고 하십니다 
                    고소인이 이의신청을 할 수도 있을 것 같고, 상황에 따라서는 무고죄 고소 생각도 있고, 직장 인사위원회에 소명하려면 불송치 과정에 대해 자세히 알 필요가 있을 것 같습니다 
    
                    조사가 끝나면 경찰에 서류를 받을 수 있습니까? 
                    피의자 쪽에는 없다고 하는 게 피의자는 발급해 주지 않는다는 뜻처럼 들려서 문의드립니다
                </p>
            </div>
        </div>
    </div>
</body>
</html>