<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지식IN 글쓰기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" defer></script>
    
    <link href="../resource/css/headers.css" rel="stylesheet">
    <link href="../resource/css/sidebars.css" rel="stylesheet">
    <link href="../resource/css/footer.css" rel="stylesheet">
    <link href="../resource/css/common.css" rel="stylesheet">

    <link rel="stylesheet" href="../resource/css/in_post.css">
</head>
<body>
    <!-- header -->
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
            </div>
        </div>
    </header>

    <div id="counselWriteDiv" class="container">
        <h3 id="counselWriteh1" class="text-center">지식IN 글쓰기</h3>
        <form action="" id="counselWriteForm" class="mx-auto">
            <h5 id="counselWriteh2" class="fw-bold">상담글을 작성하고<br><span class="text-custom">무료로</span> 변호사의 답변을 받으세요</h5>
            <div class="counselWriteTable mt-5">
                <div class="form-group mb-4">
                    <label class="form-label fw-bold">제목 <span class="text-secondary">(10자 이상*)</span></label>
                    <input type="text" class="form-control" placeholder="제목을 작성해주세요">
                </div>
                <div class="form-group mb-4">
                    <label class="form-label fw-bold">카테고리</label>
                    <select name="category" class="form-select">
                        <option value="" disabled selected style="display: none;">선택</option>
                        <option value="">성범죄</option>
                        <option value="">재산범죄</option>
                        <option value="">교통사고/범죄</option>
                        <option value="">형사절차</option>
                        <option value="">폭행/협박</option>
                        <option value="">명예훼손/모욕</option>
                        <option value="">기타 형사범죄</option>
                        <option value="">부동산/임대차</option>
                        <option value="">금전/계약 문제</option>
                        <option value="">민사절차</option>
                        <option value="">기타 민사문제</option>
                        <option value="">가족</option>
                        <option value="">회사</option>
                        <option value="">의료/세금/행정</option>
                        <option value="">IT/지식재산/금융</option>
                    </select>
                </div> 
                <div class="form-group mb-4">
                    <label class="form-label fw-bold">내용 <span class="text-secondary">(200자 이상*)</span></label>
                    <textarea class="form-control p-3" rows="10" placeholder="내용을 작성해주세요"></textarea>
                </div>
            </div>
            <hr>
            <div class="counselWriteDivin my-4">
                <h3 id="counselWriteh3" class="fs-6 fw-bold">상담글 등록전 반드시 확인해주세요!</h3>
                <ul class="counselWriteUl small text-secondary">
                    <li class="small mt-1">상담글 제목은 <b>답변을 받기에 적합한 내용으로 일부 변경</b>될 수 있습니다.</li>
                    <li class="small mt-1">상담글에 변호사의 <b>답변 등록 시 글 삭제가 불가</b>합니다.</li>
                    <li class="small mt-1">등록된 글은 <b>네이버지식인, 포털사이트, 로톡 사이트에 내용이 공개</b>됩니다.</li>
                    <li class="small mt-1">아래 사항에 해당할 경우 <b>서비스 이용이 제한</b>될 수 있습니다.
                        <ul class="counselWriteUlIn">
                            <li m>개인정보(개인/법인 실명, 전화번호, 주민번호, 주소, 아이디 등) 및 외부 링크가 포함된 경우</li>
                            <li m>변호사 선임 및 변호사 선임 비용과 관련된 질문인 경우</li>
                            <li m>법률 문제 해결을 목적으로 작성한 상담글이 아닌 경우</li>
                            <li m>동일/유사한 내용의 게시물을 지속적으로 반복 게재하는 경우</li>
                            <li m>의미없는 문자의 나열인 경우</li>
                        </ul>
                    </li>
                </ul>
                <label id="agreement">
                    <input type="checkbox" name="" id=""> 안내사항을 모두 확인했으며, 동의합니다.
                </label>
            </div> 
            <button type="button" class="btn btn-custom w-100" disabled>상담글 등록하기</button>
        </form>
    </div>

    <!-- footer -->
    <div class="footer-container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
        </footer>
    </div>
</body>
</html>